<div class="project-container <%=project.priority%>">
    <div class="title"><span class="priority-bubble <%=project.priority%>"><%=project.priority%></span> 
        <%= project.title %> 
    </div>
    <div class="description"><%= project.description %></div>
    <div class="due"><em><%= project.due.toLocaleDateString("en-us") %></em></div>    
    <div><a href="/projects/<%=project._id%>">More Details</a></div>
</div>