<div class="task-item-container <%=task.priority%>">
    <div class="task-title"><a href="/projects/<%=project._id%>/tasks/<%=task._id%>/edit"><%=task.title%></a></div>
    <div class="task-description"><%=task.description%></div>
    <div class="task-priority"><%=task.priority%></div>
    <div class="task-due"><%=task.due%></div>
</div>