<%- include('../partials/header') %>
  <div id="edit-task-form-container">
    <form id="edit-task-form" method="POST" action="/projects/<%= project._id %>/tasks/<%=task._id%>?_method=PUT">
      <label>Title:</label>
      <input type="text" name="title" value="<%=task.title%>"><br>

      <label>Description:</label>
      <textarea name="description"><%=task.description%></textarea><br>

      <label>Priority</label>
      <select name="priority">
        <option value="P1" <% if (project.priority==="P1" ) { %>selected<% } %>>P1</option>
        <option value="P2" <% if (project.priority==="P2" ) { %>selected<% } %>>P2</option>
        <option value="P3" <% if (project.priority==="P3" ) { %>selected<% } %>>P3</option>
        <option value="P4" <% if (project.priority==="P4" ) { %>selected<% } %>>P4</option>
        <option value="P5" <% if (project.priority==="P5" ) { %>selected<% } %>>P5</option>
      </select>

      <label>Status</label>
      <select name="status">
        <option value="to-do">To Do</option>
        <option value="in-progress">In Progress</option>
        <option value="completed">Completed</option>
      </select><br>

      <label>Start Date:</label>
      <input type="datetime-local" name="startDate" value="<%=formatDate(task.startDate)%>"><br>

      <label>Due Date:</label>
      <input type="datetime-local" name="dueDate" value="<%=formatDate(task.dueDate)%>"><br>

      <% function formatDate(date) { const year=date.getFullYear(); const month=(date.getMonth() +
        1).toString().padStart(2, '0' ); const day=date.getDate().toString().padStart(2, '0' ); const
        hours=date.getHours().toString().padStart(2, '0' ); const minutes=date.getMinutes().toString().padStart(2, '0'
        ); return `${year}-${month}-${day}T${hours}:${minutes}`; } %>

        <input type="submit" value="Save Changes">
    </form>

    <form id="task-delete-form" action="/projects/<%=project._id%>/tasks/<%=task._id%>?_method=DELETE" method="POST">
      <input type="submit" value="Delete Task">
    </form>
  </div>
  <%- include('../partials/footer') %>