<%- include('../partials/header') %>

<section id="show-page">
  <h1><%= project.title %></h1>
  <p><%= project.description %></p>
  <div><%= project.priority %></div>
  
  <div class="project-button-container">
    <div class="edit-project-button"><a class="edit-project-link"href="/projects/<%=project._id%>/edit">Edit Project</a></div>

    <form id="project-delete-form" action="/projects/<%=project._id%>?_method=DELETE" method="POST">
      <input class="delete-project-button" type="submit" value="Delete Project">
    </form>
  </div>
    
</section>
  
<%- include('../partials/footer') %>
